<h1>Edit Question</h1>

<%# render 'form will look for a patrial named '_form.html.erb' within the same folder as this file (new.html.erb). Partials have access ot the same things as this file such as instance variables and helper methods %>
<%= render "form" %>
